$monitor-extra-width = 1940px
$monitor-max-width   = 1500px
$monitor-post-mid-width = 1420px
$monitor-mid-width   = 1300px
$monitor-min-width   = 1260px

$monitor-small-max-width = 1260px
$monitor-small-min-width = 1000px

$tablet-max-width = 1000px

$monitor-width       = "screen and (max-width: " + $monitor-max-width + ") and (min-width: " + $monitor-min-width + ")"
$monitor-small-width = "screen and (max-width: " + $monitor-small-max-width + ")) and (min-width: " + $monitor-small-min-width + ")"
$tablet-width        = "screen and (max-width: " + $tablet-max-width + ")"

$monitor-max-height = 1080px
$monitor-min-height = 870px

$monitor-small-max-height = 930px
$monitor-small-min-height = 700px

$tablet-max-height = 760px

$monitor-height       = "screen and (max-height: " + $monitor-max-height + ") and (min-height: " + $monitor-min-height + ")"
$monitor-small-height = "screen and (max-height: " + $monitor-small-max-height + ") and (min-height: " + $monitor-small-min-height + ")"
$tablet-height        = "screen and (max-height: " + $tablet-max-height + ")"

$top-menu-breakpoint = 1400px