html {
	height 100%
	width 100%
	min-width 320px
	font-size 10px
}

body {
	font-size 13px
	line-height 14px
	font-family $font-main
	background $color-white
	color $color-black;
	-webkit-text-size-adjust 100%
	text-size-adjust 100%
	-webkit-font-smoothing antialiased
	-moz-font-smoothing antialiased
	-ms-font-smoothing antialiased
	-o-font-smoothing antialiased
	min-height 100%
	box-sizing border-box
	position relative
}

input,
textarea,
button {
	font-family $font-main
	background #fff
}

*, *:before, *:after {
	box-sizing border-box
}

a {
	cursor pointer
	text-decoration none
	color $color-black

	&:hover {
		text-decoration none
	}
}

img {
	max-width 100%
}

table {
	width 100%
}

ul {
	list-style none
	margin 0
}

strong {
	font-weight $bold
}

.g-cfix {
	{cfix}
}