.footer {
	position absolute
	bottom 0
	left 0
	padding 40px 0
	color $color-black
	width 100%
}

.footer__container {
	position relative
	text-align center
}

.footer__item {
	padding 2px 0

	a {
		padding-bottom 2px
		border-bottom 1px solid $color-tomato

		&:hover {
			color #000
		}
	}
}