.header {
	position absolute
	top 0
	left 0
	padding 40px 0
	color $color-black
	width 100%
}

.header__container {
	position relative
	text-align center
}

.header__item {
	margin 0 12px
	padding-bottom 2px

	&:hover {
		border-bottom 1px solid $color-tomato
	}
}